.navbar a {
  font-size: 1.1rem;
  color: white;
  padding: 0 0.7rem;
}
.navbar a:hover {
  color: white;
}
.jumbotron {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/react-shop-4dfbc.appspot.com/o/Header-Background.jpg?alt=media&token=45144a1d-a11b-43e6-850d-247b131a2d5d);
  background-size: cover;
  background-position: top;
  height: 30rem;
  border-radius: 0rem !important;
  margin-bottom: 0 !important;
}
.jumbotron p {
  width: 50%;
}
#priceSelect {
  width: 12rem !important;
}
.product {
  width: 15rem;
  margin: 1rem;
}
.product .card-body {
  padding: 0;
}
.product img {
  height: 250px;
}
.product .title {
  font-size: 1.5rem;
}
.product .card-text {
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
}
.product .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .price {
  font-weight: bold;
  font-size: 1.1rem;
}
.product .quantity {
  width: 2.9rem;
  padding: 0.3rem;
}
.product input::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}
.cart {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.cart .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(199, 196, 196);
  padding-right: 1rem;
  width: 40rem;
}
.cart .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  line-height: 2rem;
}
.svg-inline--fa {
  cursor: pointer;
  font-size: 1.4rem;
}
.cart p {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.cart img {
  height: 10rem;
}
.total {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  font-size: 1.5rem;
}
.form_ form {
  text-align: center;
  margin-top: 9rem;
  width: 15rem;
}
.form_ {
  display: flex;
  justify-content: center;
}
.form_ input {
  margin-bottom: 1rem;
  padding-left: 0.3rem;
}
.form_ .title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #17a2b8;
}
.form_ a {
  color: #17a2b8;
  font-weight: 600;
}
.footer {
  background-color: #17a2b8;
  text-align: center;
  color: white;
  padding: 0.8rem;
}
.footer p {
  margin: 0;
}
.contact textarea {
  padding: 0.3rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 670px) {
  .cart .item {
    width: 29rem;
  }
}
